* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century Gothic.ttf") format("truetype"), url("../fonts/CenturyGothic.ttf") format("truetype"), url("../fonts/GOTHIC.ttf") format("truetype"), url("../fonts/GOTHICB.ttf") format("truetype"), url("../fonts/GOTHICB0.ttf") format("truetype"), url("../fonts/GOTHICBI.ttf") format("truetype"), url("../fonts/GOTHICI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Harmonia Sans W01";
  src: url("../fonts/Harmonia Sans W01 Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "CenturyGothic", sans-serif;
}

.slash {
  width: 1px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  transform: rotate(40deg);
  margin: 0 5px;
}

.rating-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding-bottom: 25px;
}
.rating-wrapper .rating-star {
  max-width: 100%;
}
.rating-wrapper .rating-star img {
  width: 100%;
}
.rating-wrapper .rating-count {
  font-size: 12px;
  line-height: 24px;
  color: #010101;
}
.rating-wrapper .ratring-text {
  font-size: 12px;
  line-height: 24px;
  color: #868686;
}

.ratio {
  display: flex;
  width: 100%;
  position: relative;
  align-items: stretch;
}

.ratio::before {
  content: "";
  width: 0;
  height: 0;
  display: block !important;
  padding-bottom: 130%;
}

.product__media:hover .product__media--hover {
  transform: scale(1.09);
  opacity: 1;
  display: block !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1450px;
  padding: 0 20px;
  margin: 0 auto;
}
.container.w-full {
  max-width: 100%;
}

.product__media--hover {
  opacity: 0;
  transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.btn {
  padding: 16px 36px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
}

.primary-btn {
  padding: 12px 34px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  width: -moz-fit-content;
  width: fit-content;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #fff;
}
.section-heading .sub-title {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-family: "Harmonia Sans W01";
  margin-bottom: 20px;
}
.section-heading .title {
  font-size: 40px;
  line-height: 50px;
  color: #000;
  margin-bottom: 20px;
}
.section-heading .text {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 20px;
}

.product_badges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  z-index: 99;
  top: 10px;
  left: 10px;
}
.product_badges .badge {
  display: none;
  padding: 0.2rem 0.9rem;
  line-height: 1.8;
  background-color: #ccc;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product_badges .badge.active {
  display: block;
}
.product_badges .badge.new {
  background-color: #fefa98;
  color: #000;
}
.product_badges .badge.sale {
  background-color: #cb3a3e;
}
.product_badges .badge.sale-off {
  background-color: #ef837b;
}
.product_badges .badge.out-of-stock {
  background-color: #ffffff;
}

.header-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.header-wrapper .menu-container {
  margin: 0 auto;
  max-width: 1780px;
  padding: 0 20px;
}
.header-wrapper .menu-container .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-wrapper .menu-container .top-bar .top-bar__col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  flex: 0 1 33.333%;
}
.header-wrapper .menu-container .top-bar .top-bar__col a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.header-wrapper .menu-container .top-bar .top-bar__col:nth-child(2) {
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header-wrapper .menu-container .top-bar .top-bar__col:nth-child(2) a {
  text-decoration: underline;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child {
  align-items: center;
  justify-content: end;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0 10px;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown:hover, .header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown:focus {
  border: 1px solid #fff;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown svg {
  width: 1em;
  height: 1em;
  font-size: 1em;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 19;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown .dropdown-content span {
  color: black;
  padding: 12px 16px;
  display: block;
}
.header-wrapper .menu-container .top-bar .top-bar__col:last-child .dropdown .dropdown-content span:hover {
  background-color: #ddd;
}
.header-wrapper .menu-container #navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  padding: 25px 0;
}
.header-wrapper .menu-container #navbar .navbar-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  flex: 0 1 33.333%;
}
.header-wrapper .menu-container #navbar .navbar-col a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-wrapper .menu-container #navbar .navbar-col:first-child {
  gap: 12px;
}
.header-wrapper .menu-container #navbar .navbar-col:first-child a {
  padding: 5px 15px;
}
.header-wrapper .menu-container #navbar .navbar-col:first-child a:first-child {
  padding-left: 0;
}
.header-wrapper .menu-container #navbar .navbar-col:first-child a:last-child {
  padding-right: 0;
}
.header-wrapper .menu-container #navbar .navbar-col:nth-child(2) {
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.header-wrapper .menu-container #navbar .navbar-col:nth-child(2) a {
  padding: 5px 15px;
}
.header-wrapper .menu-container #navbar .navbar-col:last-child {
  gap: 0;
  justify-content: end;
  align-items: center;
}
.header-wrapper .menu-container #navbar .navbar-col:last-child a {
  padding: 5px 12px;
}
.header-wrapper .menu-container #navbar .navbar-col:last-child a:last-child {
  padding-right: 0;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 1010px;
  padding: 0;
  margin: 0;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .container {
  flex: 1;
}
.banner .banner-content {
  display: flex;
  position: absolute;
  top: 55%;
  left: 20px;
  transform: translateY(-50%);
  flex-direction: column;
  color: #fff;
}
.banner .banner-content .sub-title {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Harmonia Sans W01";
  margin-bottom: 32px;
}
.banner .banner-content .title {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 32px;
}
.banner .banner-content .text {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 32px;
}

.second-banner .banner-countdown {
  position: relative;
}
.second-banner .banner-countdown .countdown-sale {
  display: flex;
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(255, 249, 154);
  background: linear-gradient(0deg, rgb(255, 249, 154) 0%, rgb(255, 255, 255) 87%);
}
.second-banner .banner-countdown .countdown-sale .countdown {
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  border-right: 1px solid #000;
}
.second-banner .banner-countdown .countdown-sale .countdown .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.second-banner .banner-countdown .countdown-sale .countdown .countdown-item span {
  display: block;
}
.second-banner .banner-countdown .countdown-sale .countdown .number {
  font-size: 50px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 6px;
}
.second-banner .banner-countdown .countdown-sale .countdown .label {
  font-size: 10px;
  text-transform: uppercase;
}
.second-banner .banner-countdown .countdown-sale .countdown .separator {
  font-size: 50px;
  font-weight: normal;
  margin: 0 10px;
}
.second-banner .banner-countdown .countdown-sale .countdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 40px;
  flex: 0 1 50%;
}
.second-banner .banner-countdown .countdown-sale .countdown-content .title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 16px;
}
.second-banner .banner-countdown .countdown-sale .countdown-content .text {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.second-banner .banner-countdown .countdown-sale .countdown-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0 40px;
  flex: 0 1 20%;
}
.second-banner .banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  color: #010101;
  margin-bottom: 128px;
}
.second-banner .banner-heading .banner-heading-icon {
  margin-bottom: 32px;
}
.second-banner .banner-heading .banner-heading-icon svg {
  width: 65px;
}
.second-banner .banner-heading .banner-heading-title {
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  color: #010101;
}
.second-banner .banner-heading .banner-heading-title a {
  color: #010101;
}
.second-banner .banner-row {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.second-banner .banner-row .col-1 {
  flex: 1 1 32%;
}
.second-banner .banner-row .col-2 {
  flex: 1 1 68%;
}
.second-banner .banner-row .col-2 .aspect-ratio {
  width: 100%;
  background-color: #fefa98;
  padding-top: 87.29%;
}
.second-banner .banner-row .banner-slider {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.second-banner .banner-row .banner-slider .slider-wrapper {
  width: 50%;
}

.slider-text-wrapper .carousel {
  height: 100%;
}
.slider-text-wrapper .carousel .carousel-cell {
  padding: 0 18%;
  height: 100%;
}
.slider-text-wrapper .carousel .flickity-page-dots {
  bottom: 0;
}
.slider-text-wrapper .carousel .flickity-page-dots .dot {
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.carousel {
  width: 100%;
  height: 100%;
}
.carousel .carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.carousel .carousel-cell img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.best-seller {
  overflow: hidden;
  margin-top: 175px;
  padding-bottom: 45px;
}
.best-seller .section-heading {
  margin-bottom: 80px;
}
.best-seller .section-heading .section-heading-title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
}
.best-seller .section-content .flickity-page-dots {
  bottom: -20px;
}
.best-seller .section-content .flickity-page-dots .dot {
  width: 40px;
  height: 3px;
  border-radius: 0;
  margin: 10px 0;
  padding: 2px;
}
.best-seller .section-content .flickity-viewport {
  overflow: visible;
}
.best-seller .section-content .flickity-viewport .carousel-cell {
  width: 20%;
  align-items: start;
  height: auto;
  margin-right: 2rem;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper {
  width: 100%;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media {
  overflow: clip;
  width: 100%;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product__media-wrapp img {
  display: block;
  max-width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  z-index: 99;
  top: 1rem;
  left: 1rem;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge {
  display: none;
  padding: 0.2rem 0.9rem;
  line-height: 1.8;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge.active {
  display: block;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge.new {
  background-color: #fefa98;
  color: #000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge.sale {
  background-color: red;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge.sale-off {
  background-color: #ef837b;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .product_badges .badge.out-of-stock {
  background-color: #cccccc;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .add_cart {
  display: flex;
  font-size: 0.625rem;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 100%;
  line-height: 1.2;
  z-index: 13;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #ffffff;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  transform: translateY(100%);
  transition: all 0.35s ease;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .add_cart .add-cart-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .add_cart .add-cart-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .add_cart .add-cart-btn.left {
  color: #fff;
  background-color: #000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media .add_cart .add-cart-btn.right {
  background-color: #f6f6f6;
  color: #000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__media:hover .add_cart {
  transform: translateY(0%);
  opacity: 1;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .rating-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .rating-wrapper .rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #ffb300;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .rating-wrapper .rating svg {
  width: 12px;
  height: 12px;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .rating-wrapper .rating-label {
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-name {
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  text-decoration: none;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-name:hover {
  color: #e14140;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  color: #868686;
  margin-bottom: 5px;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-price.sale .price {
  color: #e14140;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-price.sale .compare-price {
  display: inline;
  text-decoration: line-through;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-price .compare-price {
  display: none;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0.28rem solid #fff;
  margin: 0.3rem;
  transition: box-shadow 0.3s ease, opacity 0.3s;
  box-shadow: 0 0 0 1px #e4e4e4;
  cursor: pointer;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.brown {
  background-color: #b87145;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.black {
  background-color: #000000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.brown-gray {
  background-color: #6b5f3f;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.yellow {
  background-color: #e5dcb1;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.light-blue {
  background-color: #72a6d8;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.gray {
  background-color: #464646;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color:hover {
  box-shadow: 0 0 0 1px #000;
}
.best-seller .section-content .flickity-viewport .carousel-cell .product__wrapper .product__info .product-variable .color.active {
  box-shadow: 0 0 0 1px #000;
}
.best-seller .section-content .progress-bar-wrapper {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-seller .section-content .progress-bar-wrapper .progress-bar {
  width: 20%;
  height: 3px;
  background-color: #ebebeb;
}
.best-seller .section-content .progress-bar-wrapper .progress-bar .slider-progress {
  width: 0%;
  height: 3px;
  background-color: #000;
}

.section-compare {
  padding-top: 45px;
  padding-bottom: 45px;
}
.section-compare .banner-heading {
  margin-bottom: 40px;
}
.section-compare .banner-heading .banner-heading-title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
}
.section-compare .banner-heading .banner-heading-sub-title {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: center;
}

.img-comp-container {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 695px;
}
.img-comp-container .img-comp-img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 695px;
}
.img-comp-container .second-compare-img {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}
.img-comp-container .img-comp-img img {
  display: block;
}
.img-comp-container .img-comp-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 19;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 50%;
}

.section-features {
  padding: 10px 0;
}
.section-features .container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.section-features .container .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 25%;
  padding: 20px;
  text-align: center;
}
.section-features .container .feature-item .feature-icon img {
  opacity: 0.5;
  max-width: 48px;
  margin-bottom: 30px;
}
.section-features .container .feature-item .feature-title {
  font-size: 12px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-features .container .feature-item .feature-text {
  font-size: 14px;
  line-height: 24px;
  color: #868686;
}

.section-new-colection {
  display: flex;
  position: relative;
  aspect-ratio: 8/3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-new-colection .container {
  display: flex;
  height: 100%;
}
.section-new-colection .container.absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-new-colection .container .left {
  display: flex;
  align-items: center;
  flex: 0 1 50%;
  padding-right: 20px;
}
.section-new-colection .container .right {
  flex: 0 1 50%;
}
.section-new-colection .cols {
  flex: 0 1 50%;
  background-color: #fefa98;
}
.section-new-colection .cols.col2 {
  background-image: url("../images/Layer123.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-categories {
  margin-bottom: 60px;
}
.section-categories .container .banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  color: #010101;
  margin-bottom: 45px;
}
.section-categories .container .flickity-slider {
  display: flex;
}
.section-categories .container .carousel-cell {
  position: relative;
  align-items: stretch;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  height: auto;
}
.section-categories .container .carousel-cell .item-wrapper {
  overflow: clip;
  width: 100%;
}
.section-categories .container .carousel-cell .item-wrapper img {
  display: block;
  max-width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.section-categories .container .carousel-cell .item-wrapper .content {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.section-categories .container .carousel-cell .item-wrapper .content a {
  color: #fff;
  text-transform: uppercase;
}

.section-product-slider {
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-product-slider .container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.section-product-slider .container .row .cols {
  height: auto;
  flex: 0 1 45.745%;
}
.section-product-slider .container .row .cols .product-slider-wrapper {
  height: 100%;
}
.section-product-slider .container .row .cols .product-slider-wrapper .carousel {
  width: 100%;
  height: 100%;
}
.section-product-slider .container .row .cols .product-slider-wrapper .carousel-product-slider .carousel-cell {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.section-product-slider .container .row .cols .product-slider-wrapper .carousel-product-slider .carousel-cell .img-warpper.ratio::before {
  padding-bottom: 110%;
}
.section-product-slider .container .row .cols .product-slider-wrapper .carousel-product-slider .carousel-cell .img-warpper.ratio img {
  display: block;
  max-width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.section-product-slider .container .row .cols .product-slider-wrapper .flickity-page-dots {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  background-color: #fff;
}
.section-product-slider .container .row .cols .product-slider-wrapper .flickity-page-dots .dot {
  display: inline-block;
  width: 30px;
  height: 3px;
  margin: 0 10px;
  border-radius: 0;
}
.section-product-slider .container .row .cols.col2 {
  display: flex;
  flex-direction: column;
}
.section-product-slider .container .row .cols.col2 .title {
  font-size: 22px;
  color: #000000;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.section-product-slider .container .row .cols.col2 .price {
  padding-bottom: 20px;
  font-size: 18px;
  color: #000000;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #ebebeb;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .action .action-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .action .action-label {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #868686;
  text-transform: uppercase;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .action .action-label a {
  color: #000;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .progress-bar-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 3px;
  background-color: #ebebeb;
}
.section-product-slider .container .row .cols.col2 .stock-wrapper .progress-bar-wrapper .progress-bar {
  padding: 0;
  margin: 0;
  height: inherit;
  width: 33.3%;
  background-color: #ff5050;
}
.section-product-slider .container .row .cols.col2 .description {
  margin-top: 35px;
  font-size: 14px;
  line-height: 24px;
  color: #868686;
}
.section-product-slider .container .row .cols.col2 .add-to-cart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.section-product-slider .container .row .cols.col2 .add-to-cart-wrapper .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  min-height: 48px;
  padding: 0 15px;
  background-color: #f6f6f6;
}
.section-product-slider .container .row .cols.col2 .add-to-cart-wrapper .quantity #input-quantity {
  margin-left: 10px;
  height: inherit;
  width: 40%;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.section-product-slider .container .row .cols.col2 .add-to-cart-wrapper .quantity .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section-product-slider .container .row .cols.col2 .add-to-cart-wrapper .add-to-cart {
  flex: 1;
  height: 100%;
  margin-left: 10px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}
.section-product-slider .container .row .cols.col2 .buy-now-btn {
  margin-top: 15px;
  min-height: 48px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  width: 100%;
}
.section-product-slider .container .row .cols.col2 .shiping {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-bottom: 28px;
  row-gap: 10px;
  border-bottom: 1px solid #ebebeb;
}
.section-product-slider .container .row .cols.col2 .shiping .shiping-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}
.section-product-slider .container .row .cols.col2 .shiping .shiping-item .shiping-icon {
  width: 24px;
  height: 24px;
}
.section-product-slider .container .row .cols.col2 .shiping .shiping-item .shiping-text {
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}
.section-product-slider .container .row .cols.col2 .view-more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 14px;
  padding: 10px 15px 10px 0;
  transition: color 0.3s ease-in;
}
.section-product-slider .container .row .cols.col2 .view-more .view-more-icon {
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  line-height: 14px;
}
.section-product-slider .container .row .cols.col2 .view-more .view-more-icon svg {
  max-width: 100%;
  width: 100%;
}
.section-product-slider .container .row .cols.col2 .view-more:hover {
  color: #ff5050;
}

.section-new-colection-second {
  padding: 205px 0;
  background-color: #d0cab8;
}
.section-new-colection-second .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section-new-colection-second .container .cols {
  display: flex;
  flex: 0 1 50%;
}
.section-new-colection-second .container .cols.col2 {
  justify-content: flex-end;
}
.section-new-colection-second .container .cols.col2 .content-wrapper {
  width: 65%;
  height: auto;
  padding: 75px;
  background-color: #fff;
}

.section-bundle {
  padding: 100px 0;
}
.section-bundle .container .wrapper-content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.section-bundle .container .wrapper-content .content-left {
  padding: 80px 90px;
  display: flex;
  flex: 0 1 66%;
  flex-direction: column;
  background-color: #fefa98;
}
.section-bundle .container .wrapper-content .content-left .sub-title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #868686;
  margin-bottom: 20px;
}
.section-bundle .container .wrapper-content .content-left .title {
  font-size: 30px;
  color: #000000;
  margin-bottom: 50px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 24px;
  border: 1px solid transparent;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item.active .bundle-item-thumb {
  border: 1px solid #000;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item.active .quick-view {
  visibility: visible;
  opacity: 1;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item:not(:last-child) {
  border-bottom: 1px solid #868686;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item:not(:first-child) {
  padding-top: 24px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-thumb {
  border: 1px solid transparent;
  flex: 0 1 16.666%;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-thumb .thumb {
  width: 100%;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-thumb .thumb img {
  max-width: 100%;
  width: 100%;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info {
  display: flex;
  flex-direction: column;
  flex: 0 1 83.334%;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info .rating-wrapper {
  padding: 0;
  margin-bottom: 10px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info .rating-wrapper .rating-star {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info .rating-wrapper .rating-star svg {
  width: 12px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info .bundle-item-info-title {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .bundle-item-info .bundle-item-info-price {
  margin-bottom: 12px;
  font-size: 14px;
  color: #868686;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .quick-view {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #010101;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.section-bundle .container .wrapper-content .content-left .bundle-wrapper .bundle-item .quick-view .bundle-item-icon {
  display: block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
}
.section-bundle .container .wrapper-content .content-right {
  flex: 0 1 34%;
}/*# sourceMappingURL=index.css.map */