* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century Gothic.ttf") format("truetype"),
    url("../fonts/CenturyGothic.ttf") format("truetype"),
    url("../fonts/GOTHIC.ttf") format("truetype"),
    url("../fonts/GOTHICB.ttf") format("truetype"),
    url("../fonts/GOTHICB0.ttf") format("truetype"),
    url("../fonts/GOTHICBI.ttf") format("truetype"),
    url("../fonts/GOTHICI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Harmonia Sans W01";
  src: url("../fonts/Harmonia Sans W01 Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CenturyGothic", sans-serif;
}
.hover-effect {
  &:hover {
    color: #e14140 !important;
    transition: color 0.55s ease;
  }
}

.slash {
  width: 1px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  transform: rotate(40deg);
  margin: 0 5px;
}
.rating-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;

  .rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    color: #ffb300;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  .rating-label {
    font-size: 12px;
    line-height: 24px;
    color: #000000;
  }
}
.ratio {
  display: flex;
  width: 100%;
  position: relative;
  align-items: stretch;
}

.ratio::before {
  content: "";
  width: 0;
  height: 0;
  display: block !important;
  padding-bottom: calc(100% * 1.3);
}

.product__media:hover .product__media--hover {
  transform: scale(1.09);
  opacity: 1;
  display: block !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1450px;
  padding: 0 20px;
  margin: 0 auto;

  &.w-full {
    max-width: 100%;
  }
}

.product__media--hover {
  opacity: 0;
  transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.btn {
  padding: 16px 36px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  width: fit-content;
  &:hover {
    box-shadow: 2px 3px 4px #a4a4a4;
    color: #fff !important;
    background-color: #000;
    transition: color 0.55s ease, background-color 0.55s ease,
      box-shadow 0.55s ease;
  }
}

.primary-btn {
  padding: 12px 34px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  width: fit-content;
  &:hover {
    box-shadow: 2px 3px 4px #a4a4a4;
    color: #000 !important;
    background-color: #fff;
    transition: color 0.55s ease, background-color 0.55s ease,
      box-shadow 0.55s ease;
  }
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #fff;

  .sub-title {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-family: "Harmonia Sans W01";
    margin-bottom: 20px;
  }

  .title {
    font-size: 40px;
    line-height: 50px;
    color: #000;
    margin-bottom: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px;
  }
}

.product_badges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  z-index: 99;
  top: 10px;
  left: 10px;

  .badge {
    display: none;
    padding: 0.2rem 0.9rem;
    line-height: 1.8;
    background-color: #ccc;
    color: #ffffff;
    margin-bottom: 0.5rem;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    user-select: none;

    &.active {
      display: block;
    }

    &.new {
      background-color: #fefa98;
      color: #000;
    }

    &.sale {
      background-color: #cb3a3e;
    }

    &.sale-off {
      background-color: #ef837b;
    }

    &.out-of-stock {
      background-color: #ffffff;
    }
  }
}

.header-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  .menu-container {
    margin: 0 auto;
    max-width: 1780px;
    padding: 0 20px;

    .top-bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      padding: 8px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      .top-bar__col {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15px;
        flex: 0 1 33.333%;

        a {
          color: #fff;
          font-weight: 400;
          text-decoration: none;
        }

        &:nth-child(2) {
          align-items: center;
          justify-content: center;
          gap: 8px;

          a {
            text-decoration: underline;
          }
        }

        &:last-child {
          align-items: center;
          justify-content: end;

          .dropdown {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 0 10px;

            &:hover,
            &:focus {
              border: 1px solid #fff;
            }

            svg {
              width: 1em;
              height: 1em;
              font-size: 1em;
            }

            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              left: 0;
              top: 100%;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 19;

              span {
                color: black;
                padding: 12px 16px;
                display: block;

                &:hover {
                  background-color: #ddd;
                }
              }
            }
          }
        }
      }
    }

    #navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      padding: 25px 0;

      .navbar-col {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        flex: 0 1 33.333%;

        a {
          color: #fff;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        &:first-child {
          gap: 12px;

          a {
            padding: 5px 15px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }

        &:nth-child(2) {
          font-size: 28px;
          line-height: 24px;
          font-weight: 400;
          text-transform: uppercase;
          justify-content: center;
          align-items: center;

          a {
            padding: 5px 15px;
          }
        }

        &:last-child {
          gap: 0;
          justify-content: end;
          align-items: center;

          a {
            padding: 5px 12px;

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 1010px;
  padding: 0;
  margin: 0;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    flex: 1;
  }

  .banner-content {
    display: flex;
    position: absolute;
    top: 55%;
    left: calc(0px + 20px);
    transform: translateY(-50%);
    flex-direction: column;
    color: #fff;

    .sub-title {
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase;
      font-family: "Harmonia Sans W01";
      margin-bottom: 32px;
    }

    .title {
      font-size: 60px;
      color: #ffffff;
      margin-bottom: 32px;
    }

    .text {
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 32px;
    }
  }
}

.second-banner {
  .banner-countdown {
    position: relative;

    .countdown-sale {
      display: flex;
      position: absolute;
      top: -50%;
      transform: translateY(-50%);
      flex-direction: row;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      background: rgb(255, 249, 154);
      background: linear-gradient(
        0deg,
        rgba(255, 249, 154, 1) 0%,
        rgba(255, 255, 255, 1) 87%
      );

      .countdown {
        flex: 0 0 30%;
        display: flex;
        flex-direction: row;
        padding: 0 40px;
        border-right: 1px solid #000;

        .countdown-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
        }

        .countdown-item span {
          display: block;
        }

        .number {
          font-size: 50px;
          line-height: 50px;
          font-weight: normal;
          margin-bottom: 6px;
        }

        .label {
          font-size: 10px;
          text-transform: uppercase;
        }

        .separator {
          font-size: 50px;
          font-weight: normal;
          margin: 0 10px;
        }
      }

      .countdown-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 40px;
        flex: 0 1 50%;

        .title {
          font-size: 36px;
          line-height: 36px;
          color: #000000;
          margin-bottom: 16px;
        }

        .text {
          font-size: 36px;
          line-height: 36px;
          color: #000000;
          font-size: 18px;
          line-height: 24px;
          color: #000000;
        }
      }

      .countdown-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 0 40px;
        flex: 0 1 20%;
      }
    }
  }

  .banner-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    color: #010101;
    margin-bottom: 128px;

    .banner-heading-icon {
      margin-bottom: 32px;

      svg {
        width: 65px;
      }
    }

    .banner-heading-title {
      text-align: center;
      font-size: 26px;
      line-height: 36px;
      color: #010101;

      a {
        color: #010101;
      }
    }
  }

  .banner-row {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    .col-1 {
      flex: 1 1 32%;
    }

    .col-2 {
      flex: 1 1 68%;

      .aspect-ratio {
        width: 100%;
        background-color: #fefa98;
        padding-top: 87.29%;
      }
    }

    .banner-slider {
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 100%;
      height: 80%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      .slider-wrapper {
        width: 50%;
      }
    }
  }
}

.slider-text-wrapper {
  .carousel {
    height: 100%;

    .carousel-cell {
      padding: 0 18%;
      height: 100%;
    }

    .flickity-page-dots {
      bottom: 0;

      .dot {
        width: 40px;
        height: 3px;
        border-radius: 0;
      }
    }
  }
}

.carousel {
  width: 100%;
  height: 100%;

  .carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      user-select: none;
      pointer-events: none;
    }
  }
}

.best-seller {
  overflow: hidden;
  margin-top: 175px;
  padding-bottom: 45px;

  .section-heading {
    margin-bottom: 80px;

    .section-heading-title {
      font-size: 18px;
      letter-spacing: 2px;
      color: #000000;
      text-align: center;
    }
  }

  .section-content {
    .flickity-page-dots {
      bottom: -20px;

      .dot {
        width: 40px;
        height: 3px;
        border-radius: 0;
        margin: 10px 0;
        padding: 2px;
      }
    }

    .flickity-viewport {
      overflow: visible;

      .carousel-cell {
        width: 20%;
        align-items: start;
        height: auto;
        margin-right: 2rem;

        .product__wrapper {
          width: 100%;

          .product__media {
            overflow: clip;
            width: 100%;

            .product__media-wrapp {
              img {
                display: block;
                max-width: 100%;
                position: absolute;
                margin: 0;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                overflow-clip-margin: content-box;
                overflow: clip;
              }
            }

            .product_badges {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: start;
              position: absolute;
              z-index: 99;
              top: 1rem;
              left: 1rem;

              .badge {
                display: none;
                padding: 0.2rem 0.9rem;
                line-height: 1.8;
                color: #ffffff;
                margin-bottom: 0.5rem;
                font-size: 13px;
                vertical-align: middle;
                text-align: center;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                width: fit-content;
                user-select: none;

                &.active {
                  display: block;
                }

                &.new {
                  background-color: #fefa98;
                  color: #000;
                }

                &.sale {
                  background-color: red;
                }

                &.sale-off {
                  background-color: #ef837b;
                }

                &.out-of-stock {
                  background-color: #cccccc;
                }
              }
            }

            .add_cart {
              display: flex;
              font-size: 0.625rem;
              flex-direction: row;
              justify-content: center;
              height: 40px;
              width: 100%;
              line-height: 1.2;
              z-index: 13;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: #000;
              color: #ffffff;
              width: 100%;
              opacity: 0;
              cursor: pointer;
              transform: translateY(100%);
              transition: all 0.35s ease;

              .add-cart-btn {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                text-decoration: none;

                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                &.left {
                  color: #fff;
                  background-color: #000;
                }

                &.right {
                  background-color: #f6f6f6;
                  color: #000;
                }
              }
            }

            &:hover {
              .add_cart {
                transform: translateY(0%);
                opacity: 1;
              }
            }
          }

          .product__info {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;

            .product-name {
              font-size: 14px;
              color: #000000;
              margin-bottom: 5px;
              text-decoration: none;
            }

            .product-price {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 10px;
              font-size: 14px;
              color: #868686;
              margin-bottom: 5px;

              &.sale {
                .price {
                  color: #e14140;
                }

                .compare-price {
                  display: inline;
                  text-decoration: line-through;
                }
              }

              .compare-price {
                display: none;
              }
            }

            .product-variable {
              .color {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 0.28rem solid #fff;
                margin: 0.3rem;
                transition: box-shadow 0.3s ease, opacity 0.3s;
                box-shadow: 0 0 0 1px #e4e4e4;
                cursor: pointer;

                &.brown {
                  background-color: #b87145;
                }

                &.black {
                  background-color: #000000;
                }

                &.brown-gray {
                  background-color: #6b5f3f;
                }

                &.yellow {
                  background-color: #e5dcb1;
                }

                &.light-blue {
                  background-color: #72a6d8;
                }

                &.gray {
                  background-color: #464646;
                }

                &:hover {
                  box-shadow: 0 0 0 1px #000;
                }

                &.active {
                  box-shadow: 0 0 0 1px #000;
                }
              }
            }
          }
        }
      }
    }

    .progress-bar-wrapper {
      width: 100%;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .progress-bar {
        width: 20%;
        height: 3px;
        background-color: #ebebeb;

        .slider-progress {
          width: 0%;
          height: 3px;
          background-color: #000;
        }
      }
    }
  }
}

.section-compare {
  padding-top: 45px;
  padding-bottom: 45px;

  .banner-heading {
    margin-bottom: 40px;

    .banner-heading-title {
      font-size: 18px;
      letter-spacing: 2px;
      color: #000000;
      text-align: center;
    }

    .banner-heading-sub-title {
      font-size: 12px;
      line-height: 14px;
      color: #000000;
      text-align: center;
    }
  }
}

.img-comp-container {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 695px;

  .img-comp-img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 695px;
  }

  .second-compare-img {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
  }

  .img-comp-img img {
    display: block;
  }

  .img-comp-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 19;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 50%;
  }
}

.section-features {
  padding: 10px 0;

  .container {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    .feature-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 1 25%;
      padding: 20px;
      text-align: center;

      .feature-icon {
        img {
          opacity: 0.5;
          max-width: 48px;
          margin-bottom: 30px;
        }
      }

      .feature-title {
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .feature-text {
        font-size: 14px;
        line-height: 24px;
        color: #868686;
      }
    }
  }
}

.section-new-colection {
  display: flex;
  position: relative;
  aspect-ratio: 8/3;
  padding-top: 50px;
  padding-bottom: 50px;

  .container {
    display: flex;
    height: 100%;

    &.absolute {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .left {
      display: flex;
      align-items: center;
      flex: 0 1 50%;
      padding-right: 20px;
    }

    .right {
      flex: 0 1 50%;
    }
  }

  .cols {
    flex: 0 1 50%;
    background-color: #fefa98;

    &.col2 {
      background-image: url("../images/Layer123.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.section-categories {
  margin-bottom: 60px;

  .container {
    .banner-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      color: #010101;
      margin-bottom: 45px;
    }

    .flickity-slider {
      display: flex;
    }

    .carousel-cell {
      position: relative;
      align-items: stretch;
      width: calc((100% - 90px) / 4);
      margin-right: 30px;
      height: auto;

      .item-wrapper {
        overflow: clip;
        width: 100%;

        img {
          display: block;
          max-width: 100%;
          position: absolute;
          margin: 0;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          overflow-clip-margin: content-box;
          overflow: clip;
        }

        .content {
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translateX(-50%);

          a {
            color: #fff;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.section-product-slider {
  margin-top: 60px;
  margin-bottom: 60px;

  .container {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .cols {
        height: auto;
        flex: 0 1 calc((100% - 8.51%) / 2);

        .product-slider-wrapper {
          height: 100%;

          .carousel {
            width: 100%;
            height: 100%;
          }

          .carousel-product-slider {
            .carousel-cell {
              margin-right: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: auto;
              overflow-clip-margin: content-box;
              overflow: clip;

              .img-warpper {
                &.ratio {
                  &::before {
                    padding-bottom: 110%;
                  }

                  img {
                    display: block;
                    max-width: 100%;
                    position: absolute;
                    margin: 0;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                  }
                }
              }
            }
          }
          .flickity-page-dots {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            padding: 10px 30px;
            background-color: #fff;
            .dot {
              display: inline-block;
              width: 30px;
              height: 3px;
              margin: 0 10px;
              border-radius: 0;
            }
          }
        }

        &.col2 {
          display: flex;
          flex-direction: column;
          .rating-wrapper {
            .rating-count {
              font-size: 12px;
              line-height: 24px;
              color: #010101;
            }
            .ratring-text {
              font-size: 12px;
              line-height: 24px;
              color: #868686;
            }
          }
          .title {
            font-size: 22px;
            color: #000000;
            text-transform: capitalize;
            padding-bottom: 20px;
          }
          .price {
            padding-bottom: 20px;
            font-size: 18px;
            color: #000000;
          }
          .stock-wrapper {
            .action {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 15px 0;
              border-top: 1px solid #ebebeb;
              .action-icon {
                width: 25px;
                height: 25px;
                margin-right: 5px;
              }
              .action-label {
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 24px;
                color: #868686;
                text-transform: uppercase;
                a {
                  color: #000;
                }
              }
            }
            .progress-bar-wrapper {
              padding: 0;
              margin: 0;
              width: 100%;
              height: 3px;
              background-color: #ebebeb;
              .progress-bar {
                padding: 0;
                margin: 0;
                height: inherit;
                width: 33.3%;
                background-color: #ff5050;
              }
            }
          }
          .description {
            margin-top: 35px;
            font-size: 14px;
            line-height: 24px;
            color: #868686;
          }
          .add-to-cart-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
            .quantity {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 150px;
              min-height: 48px;
              padding: 0 15px;

              background-color: #f6f6f6;
              #input-quantity {
                margin-left: 10px;
                height: inherit;
                width: 40%;
                background-color: inherit;
                border: none;
                outline: none;
                text-align: center;
                font-size: 14px;
                color: #000000;
              }
              .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #fff;
                user-select: none;
              }
            }
            .add-to-cart {
              flex: 1;
              height: 100%;
              margin-left: 10px;
              border: 1px solid #000;
              background-color: #fff;
              font-size: 12px;
              text-transform: uppercase;
              color: #000000;
            }
          }
          .buy-now-btn {
            margin-top: 15px;
            min-height: 48px;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            background-color: #000;
            border: none;
            width: 100%;
          }
          .shiping {
            display: flex;
            flex-direction: column;
            margin-top: 35px;
            padding-bottom: 28px;
            row-gap: 10px;
            border-bottom: 1px solid #ebebeb;
            .shiping-item {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              gap: 5px;
              .shiping-icon {
                width: 24px;
                height: 24px;
              }
              .shiping-text {
                font-size: 12px;
                line-height: 24px;
                color: #000000;
              }
            }
          }
          .view-more {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            text-decoration: none;
            width: fit-content;
            margin-top: 14px;
            padding: 10px 15px 10px 0;
            transition: color 0.3s ease-in;
            .view-more-icon {
              display: block;
              width: 14px;
              height: 14px;
              margin-left: 10px;
              line-height: 14px;
              svg {
                max-width: 100%;
                width: 100%;
              }
            }
            &:hover {
              color: #ff5050;
            }
          }
        }
      }
    }
  }
}
.section-new-colection-second {
  padding: 205px 0;
  background-color: #d0cab8;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .cols {
      display: flex;
      flex: 0 1 50%;
      &.col2 {
        justify-content: flex-end;
        .content-wrapper {
          width: 65%;
          height: auto;
          padding: 75px;
          background-color: #fff;
        }
      }
    }
  }
}
.section-bundle {
  padding: 100px 0;
  .container {
    .wrapper-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: 100%;
      .content-left {
        padding: 80px 90px;
        display: flex;
        flex: 0 1 66%;
        flex-direction: column;
        background-color: #fefa98;
        .sub-title {
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #868686;
          margin-bottom: 20px;
        }
        .title {
          font-size: 30px;
          color: #000000;
          margin-bottom: 50px;
        }
        .bundle-wrapper {
          .bundle-item {
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 20px;
            padding-bottom: 24px;
            border: 1px solid transparent;
            &.active {
              .bundle-item-thumb {
                border: 1px solid #000;
              }
              .quick-view {
                visibility: visible;
                opacity: 1;
              }
            }

            &:not(:last-child) {
              border-bottom: 1px solid #868686;
            }
            &:not(:first-child) {
              padding-top: 24px;
            }

            .bundle-item-thumb {
              border: 1px solid transparent;
              flex: 0 1 14%;
              .thumb {
                width: 100%;
                img {
                  max-width: 100%;
                  width: 100%;
                }
              }
            }

            .bundle-item-info {
              display: flex;
              flex-direction: column;
              flex: 0 1 86%;
              .rating-wrapper {
                padding: 0;
                margin-bottom: 10px;
                .rating-star {
                  display: flex;
                  flex-direction: row;
                  column-gap: 1px;
                  svg {
                    width: 12px;
                  }
                }
                .rating-count {
                  font-size: 12px;
                  line-height: 24px;
                  color: #000000;
                }
              }
              .bundle-item-info-title {
                font-size: 14px;
                color: #000000;
                margin-bottom: 10px;
              }
              .bundle-item-info-price {
                margin-bottom: 12px;
                font-size: 14px;
                color: #868686;
              }
            }
            .quick-view {
              display: flex;
              visibility: hidden;
              opacity: 0;
              flex-direction: row;
              align-items: center;
              font-size: 12px;
              color: #010101;
              column-gap: 8px;
              width: fit-content;
              .bundle-item-icon {
                display: block;
                text-align: center;
                line-height: 30px;
                width: 30px;
                height: 30px;
                background-color: #000;
                border-radius: 50%;
              }
            }
          }
        }
      }
      .content-right {
        display: flex;
        align-items: center;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        .hotspot-wrapper {
          width: 100%;
          &.ratio {
            &::before {
              padding-bottom: 100%;
            }
          }
          .hotspot-image {
            width: 100%;
            img {
              width: 100%;
              max-width: 100%;
            }
          }
          .hotspot-layout {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            .hotspot {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              background-color: transparent;
              border: 2px solid #fff;
              opacity: 0.5;
              width: 38px;
              height: 38px;
              border-radius: 50%;
              &::before {
                display: inline-block;
                width: 30px;
                height: 30px;
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
              }
              &.active {
                background-color: #fff;
                border: none;
                opacity: 1;
                &::before {
                  display: inline-block;
                  width: 38px;
                  height: 38px;
                  content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38' height='38' viewBox='0 0 32 32' fill='currentColor'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M10.722 9.969l-0.754 0.754 5.278 5.278-5.253 5.253 0.754 0.754 5.253-5.253 5.253 5.253 0.754-0.754-5.253-5.253 5.278-5.278-0.754-0.754-5.278 5.278z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
                }
              }
            }
          }
        }
      }
    }
  }
}

.tooltips {
  display: inline;
  span {
    font-size: 12px;
    position: absolute;
    color: #000;
    background: #fff;
    padding: 10px 10px;
    width: 220px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
    }
  }
  &.active {
    span {
      visibility: visible;
      opacity: 1;
      z-index: 999;
      transform: translateY(-130%);
    }
  }
}

.tooltips[tooltip-position="top"] span {
  transform: translateY(-100%);
}

.tooltips[tooltip-position="top"] span:after {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .tooltip-title {
    font-size: 14px;
    color: #000000;
  }
  .tooltip-price {
    font-size: 14px;
    color: #868686;
  }
}
.section-free-ship-marquee {
  overflow: hidden;
  .marquee-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200%;
    padding: 25px 0;
    margin: 0;
    position: relative;
    background-color: #000;
    animation: marquee 15s linear infinite;
    will-change: auto;
    user-select: none;
    &:hover {
      animation-play-state: paused;
    }
    .marquee-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: calc(100% / 6);
      font-size: 10px;
      letter-spacing: 2px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      .slash {
        height: 20px;
      }
    }
  }
}
.section-faq {
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    .banner-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #010101;
      justify-content: center;
      margin-bottom: 80px;
      .banner-heading-top {
        font-size: 18px;
        letter-spacing: 2px;
        color: #000000;
      }
      .banner-heading-title {
        font-size: 26px;
        color: #010101;
      }
    }
    .accordion {
      width: 100%;
      max-width: 67%;
      margin: 40px auto 0;
      .at-tab {
        display: none;
        margin-bottom: 35px;
        border-top: none;
        background-color: #fff;
        font-size: 14px;
        line-height: 24px;
        color: #868686;
      }

      .at-title {
        cursor: pointer;
        position: relative;
      }
      .at-title:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='currentColor'%3E%3Cpath d='M335 408.1C330.3 404.3 328 398.2 328 392s2.344-12.28 7.031-16.97L430.1 280H24C10.75 280 0 269.2 0 255.1C0 242.7 10.75 232 24 232h406.1l-95.03-95.03c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0l136 136c9.375 9.375 9.375 24.56 0 33.94l-136 136C359.6 418.3 344.4 418.3 335 408.1z'%3E%3C/path%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        right: 10px;
        width: 16px;
        transition: transform 0.3s ease;
        font-size: 18px;
        color: #000000;
      }

      .at-title.active:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='currentColor'%3E%3Cpath d='M335 408.1C330.3 404.3 328 398.2 328 392s2.344-12.28 7.031-16.97L430.1 280H24C10.75 280 0 269.2 0 255.1C0 242.7 10.75 232 24 232h406.1l-95.03-95.03c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0l136 136c9.375 9.375 9.375 24.56 0 33.94l-136 136C359.6 418.3 344.4 418.3 335 408.1z'%3E%3C/path%3E%3C/svg%3E");
        transform: translateY(-50%) rotate(90deg);
      }

      .at-item {
        border-bottom: 1px solid #e8e8e8;
      }

      .at-title span {
        display: inline-block;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        padding: 35px 0;
        margin: 0;
      }
    }
  }
}
.section-brand {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fafaf1;
  .container {
    .banner-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #010101;
      justify-content: center;
      margin-bottom: 45px;
      .banner-heading-sub-title {
        font-size: 12px;
        letter-spacing: 1px;
        color: #000000;
      }
    }
    .content {
      font-size: 36px;
      color: #000000;
      font-weight: 400;
      font-style: italic;
      font-family: "Cormorant Garamond";
      text-align: center;
      line-height: 46px;
      margin-bottom: 90px;
      user-select: none;
    }
    .brand-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 95px;
      .span {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
.section-pralise {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  .container {
    .banner-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #010101;
      justify-content: center;
      margin-bottom: 45px;
      .banner-heading-sub-title {
        font-size: 18px;
        letter-spacing: 2px;
        color: #000000;
      }
    }
    .section-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      .wrapper-image {
        width: calc((100% - 90px) / 4);
        &:not(:last-child) {
          margin-right: 30px;
        }
        .image-item {
          width: 100%;
          &.ratio {
            &:before {
              padding-bottom: 103.636%;
            }
          }
          img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
.section-store-location {
  background-color: #f1f6fa;
  display: flex;
  .cols {
    width: 50%;
    flex: 1;
    &.col1 {
      display: flex;
      justify-content: flex-end;
      .wrapper-tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        max-width: calc(1450px / 2);
        padding: 100px 20px;
        height: 100%;
        .tabs {
          display: flex;
          flex-direction: row;
          column-gap: 60px;
          margin-bottom: 100px;

          .tab-button {
            border: none;
            outline: none;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
            color: #000000;
            border-radius: 0;
            padding: 10px 0;
            border-bottom: 1px solid transparent;
            transition: all 0.5s ease;
            &.active {
              border-bottom: 1px solid black;
            }
          }
        }
        .city {
          h3 {
            font-size: 30px;
            color: #000000;
            margin-bottom: 28px;
          }
          p {
            font-size: 14px;
            line-height: 24px;
            color: #868686;
          }
          a {
            display: block;
            margin-top: 45px;
          }
        }
      }
    }
    &.col2 {
      .wrapper-image {
        width: 100%;
        &.ratio {
          &::before {
            padding-bottom: 62.5%;
          }
        }
        img {
          width: 100%;
          max-width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
.seciton-footer {
  background-color: #000000;
  .footer-main {
    .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #868686;
      gap: 0;
      .footer-main-col {
        flex: 0 1 calc((100% - 45px) / 4);
        .footer-main-col-title {
          text-align: left;
          font-size: 12px;
          letter-spacing: 1px;
          line-height: 32px;
          text-transform: uppercase;
          color: #ffffff;
          margin-bottom: 20px;
        }
        .footer-main-col-content {
          &:not(:last-child) {
            padding-right: 15px;
          }
          .cur {
            margin-top: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .dropdown {
              position: relative;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border: none;
              cursor: pointer;
              border: 1px solid transparent;
              padding: 15px;
              background-color: #2d2d2d;
              gap: 10px;
              font-size: 12px;
              line-height: 24px;
              color: #838383;
              &:hover,
              &:focus {
                border: 1px solid #fff;
              }
              svg {
                width: 1em;
                height: 1em;
                font-size: 1em;
              }

              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                left: 0;
                top: 0;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 19;
                transform: translateY(-100%);

                span {
                  color: black;
                  padding: 12px 16px;
                  display: block;

                  &:hover {
                    background-color: #ddd;
                  }
                }
              }
            }
          }
          p {
            text-align: left;
            font-size: 14px;
            line-height: 24px;
            color: #868686;
            &.footer-main-tel {
              margin-top: 25px;
            }
          }
          ul {
            li {
              list-style: none;
              a {
                text-decoration: none;
                text-align: left;
                font-size: 14px;
                line-height: 24px;
                color: #868686;
              }
            }
          }
          .footer-main-newsletter {
            margin-top: 20px;
            .newsletter-filed {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              max-width: 100%;
              width: 100%;
              border-bottom: 2px solid #fff;
              #input-newletter {
                flex: 1;
                background-color: transparent;
                border: none;
                outline: none;
                color: #868686;
                padding: 10px 0;
                font-size: 14px;
                line-height: 24px;
                margin-right: 5px;
              }
              #btn-submit-newletter {
                height: 40px;
                padding: 10px 0 5px 15px;
                background-color: transparent;
                border: none;
              }
            }
          }
          .social-media {
            margin-top: 32px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 36px;
              height: 36px;
              border-radius: 50%;
              list-style: none;
              text-align: center;
              background-color: #2d2d2d;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                svg {
                  width: 100%;
                  fill: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    .container {
      padding-top: 25px;
      padding-bottom: 25px;
      .rows {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
      }

      .copy-right {
        flex: 0 1 calc(75% + 45px);
        font-size: 12px;
        line-height: 32px;
        color: #868686;
        text-align: left;
        padding-right: 45px;
      }
      .payment-method {
        flex: 0 1 25%;
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          li {
            display: inline-block;
            height: 25px;
            width: fit-content;
            img {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
